.custom-modal {
  .modal-header-border {
    border-bottom: 1px solid var(--color-border-light-grey);
    padding-bottom: 0.5rem;
  }

  .p-dialog-title {
    font-size: 14px;
    font-weight: 500;
  }
}
